@tailwind base;
@tailwind components;
@tailwind utilities;


.button-link {
  width: 90%;
  max-width: 400px; /* You can adjust the maximum width as per your preference */
  margin-bottom: 1rem;
  padding: 1.5rem;
  text-align: center;
  background-image: linear-gradient(120deg, #5C2C3E 0%, #8B264C 50%, #A06A7E 100%);
  border-radius: 0.5rem;
  color: white;
  transition: all 0.3s ease;
  font-size: 1.5rem;
}


.button-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.banner-container {
  animation: slideDown 1s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.survey-link {
  background: linear-gradient(120deg, #5C2C3E 0%, #8B264C 50%, #A06A7E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: underline;
  text-decoration-color: #8B264C;
  text-underline-offset: 4px;
}

.survey-link:hover {
  text-decoration-color: #A06A7E;
}
